{% extends "::base.html.twig" %}

{% block fos_user_content %}
<div class="head-title">
					<p>Créer un compte ATL</p>
</div>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}